<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fly Schedule</title>
</head>
<body>

<h1>Fly Schedule</h1>

<table border="1">
    <thead>
    <tr>
        <th>Start Airport</th>
        <th>Start Time</th>
        <th>End Airport</th>
        <th>End Time</th>
        <th>Aircraft Type</th>
        <th>Captain</th>
        <th>First Officer</th>
        <th>Mechanic</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flySchedule : ${memberSchedules}">
        <td th:text="*{flySchedule.startAirport}"></td>
        <td th:text="${flySchedule.startTime}"></td>
        <td th:text="${flySchedule.endAirport}"></td>
        <td th:text="${flySchedule.endTime}"></td>
        <td th:text="${flySchedule.aircraftType}"></td>
        <td th:text="${flySchedule.captain}"></td>
        <td th:text="${flySchedule.firstOfficer}"></td>
        <td th:text="${flySchedule.mechanic}"></td>
        <td>
            <a th:href="@{'/details/' + ${flySchedule.schedule}}">보기</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
